<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <tt><strong>Dialvive</strong></tt>
      </a>
      <button class="button navbar-burger" data-target="navMenu">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div class="navbar-menu" id="navMenu">
      <div class="navbar-start">
        <a class="navbar-item" href="/">Home</a>
        <a href="/about" class="navbar-item" title="About the author and site">About</a>
        <a href="/blog" class="navbar-item" title="Blog">Blog</a>
        <a href="/cv" class="navbar-item" title="CV">CV</a>
      </div>
      <div class="navbar-end">
      </div>
    </div>
  </div>
</nav>
