html {
  padding-left: calc(100vw - 100%);
}

body {
  font-family: "Poppins", sans-serif;
  transition: all 0.5s ease-out !important;
}

.badge {
  font-weight: 500;
}

.bg-light,
.badge-light {
  &,
  * {
    color: $text-black !important;
  }
}

.bg-dark,
.badge-dark {
  &,
  * {
    color: $text-white !important;
  }
}

#ad-container {
  display: none !important;
  visibility: hidden !important;
  max-width: 0px !important;
  max-height: 0px !important;
}

#container-top {
  display: none !important;
  visibility: hidden !important;
  max-width: 0px !important;
  max-height: 0px !important;
}
