$primary:   #007bff;
$secondary: #6c757d;
$success:   #28a745;
$info:      #17a2b8;
$warning:   #ffc107;
$danger:    #dc3545;
$light:     #f8f9fa;
$dark:      #343a40;

$text-black: #343a40;
$text-white: rgba(white, .9);

$rounded-borders: 15px;

$java:      #c74634;
$go:        #2dbcaf;
$typescript:#2f75c1;
$python:    #f9cd3f;
$html:      #ef652a;
$angular:   #d90030;
$bootstrap: #7952b3;



