---
layout: page
---
<article>
  <h1><b>{{ page.title }}</b></h1>

  <p class="post-metadata text-muted">
    {{ page.date | date_to_long_string }} -  
    <b>
      {%- assign words = content | number_of_words -%}
      {%- if words < 250 -%}
        less than 1 min read time
      {%- else -%}
        {{ words | divided_by: 180 }} mins read time
      {%- endif -%}
    </b>
    
    <br>
    
    {%- if page.tags != empty -%}
      Tags: 
      {% for tag in page.tags %}
      <a class="text-decoration-none no-underline" href="{{ tag | slugify | prepend:'/blog/tags#' | relative_url }}">
        <span class="tag badge badge-pill text-primary border border-primary">{{ tag }}</span>
      </a>
      {% endfor %}
    {%- endif -%}
  </p>


  {{ content }}
</article>

<section class="mt-16">
  <address class="post-metadata text-muted">
    <i><a href="{{ page.permalink }}" xmlns:dct="http://purl.org/dc/terms/" property="dct:title" rel="cc:attributionURL">{{ page.title }}</a></i> by <span xmlns:cc="http://creativecommons.org/ns#" property="cc:attributionName">Diego Villalpando</span> is distributed under the <a rel="license" href="https://creativecommons.org/licenses/by-nc/4.0/">CC BY-NC 4.0 licence</a>.
  </address>

  {% if page.comments %}
  <div class="pt-5">
    {% include blog/comments.html %}
  </div>
  {% endif %}
</section>
